.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Button-SubMain {
  background-color: rgb(52, 64, 77);
  /* border: 1px solid red; */
  color: white;
  padding: 10px;
  font-size: calc(5px + 2vmin);
  text-align: left;
}

.Button-Main {
  background-color: rgb(52, 64, 77);
  /* border: 1px solid red; */
  color: white;
  padding: 20px;
  font-size: calc(40px + 2vmin);
  text-align: right;
  width: 100%;
}

.Button-Clear {
  background-color: rgb(200, 202, 204);
  border: 1px solid red;
  color: gray;
  /* padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px; */
  padding:20px;
  font-size: calc(30px + 2vmin);
  text-align: center;
  width: 100%;
}

.Button-Operation {
  background-color: rgb(150, 61, 61);
  border: 1px solid red;
  color: white;
  padding: 20px;
  font-size: calc(30px + 2vmin);
  text-align: center;
  width: 25%;
  height: 25%;
}

.Button-Number {
  background-color: rgb(200, 202, 204);
  border: 1px solid red;
  color:black;
  padding: 20px;
  font-size: calc(30px + 2vmin);
  text-align: center;
  width: 25%;
  height: 25%;
}

.Frame-Main {
  /* width: 350px;
  height: 500px; */
  border: 1px solid red;
  padding: 0px;
  margin-top: 10%;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 10%;
}
